/* 
****************************
* UTILIY CLASSES
****************************
*/
.prim-color-100, .prim-color-100-hover {
  color: #029357;
}
.prim-color-200, .prim-color-200-hover, .prim-color-100-hover:hover {
  color: #00753c;
}
.prim-color-300, .prim-color-300-hover, .prim-color-200-hover:hover {
  color: #025c2f;
}
.prim-color-400, .prim-color-400-hover, .prim-color-300-hover:hover {
  color: #023d27;
}
.prim-color-500, .sec-color-600-hover:hover, .prim-color-600-hover:hover, .prim-color-500-hover, .prim-color-400-hover:hover {
  color: #012618;
}
.prim-color-600, .sec-color-600-hover, .prim-color-600-hover, .prim-color-500-hover:hover {
  color: #011a0c;
}
.sec-color-100, .sec-color-100-hover {
  color: #f4e9c5;
}
.sec-color-200, .sec-color-200-hover, .sec-color-100-hover:hover {
  color: #e4c96f;
}
.sec-color-300, .sec-color-300-hover, .sec-color-200-hover:hover {
  color: #e3c04c;
}
.sec-color-400, .sec-color-400-hover, .sec-color-300-hover:hover {
  color: #dcb227;
}
.sec-color-500, .sec-color-500-hover, .sec-color-400-hover:hover {
  color: #cea10d;
}
.sec-color-600, .sec-color-500-hover:hover {
  color: #a98100;
}
.ter-color-100, .ter-color-100-hover {
  color: white;
}
.ter-color-200, .ter-color-200-hover, .ter-color-100-hover:hover {
  color: #e6e2e2;
}
.ter-color-300, .ter-color-300-hover, .ter-color-200-hover:hover {
  color: #d5d0d0;
}
.ter-color-400, .ter-color-400-hover, .ter-color-300-hover:hover {
  color: #aba8a8;
}
.ter-color-500, .ter-color-600-hover:hover, .ter-color-500-hover, .ter-color-400-hover:hover {
  color: #928f8f;
}
.ter-color-600, .ter-color-600-hover, .ter-color-500-hover:hover {
  color: #716e6e;
}
.alt-color-100, .alt-color-100-hover {
  color: #000000;
}
.alt-color-200, .alt-color-200-hover, .alt-color-100-hover:hover {
  color: #121212;
}
.alt-color-300, .alt-color-300-hover, .alt-color-200-hover:hover {
  color: #1b1a1a;
}
.alt-color-400, .alt-color-400-hover, .alt-color-300-hover:hover {
  color: #242323;
}
.alt-color-500, .alt-color-600-hover:hover, .alt-color-500-hover, .alt-color-400-hover:hover {
  color: #323131;
}
.alt-color-600, .alt-color-600-hover, .alt-color-500-hover:hover {
  color: #474545;
}
.bg-prim-color-100, .bg-prim-color-100-hover {
  background-color: #029357;
}
.bg-prim-color-200, .bg-prim-color-200-hover, .bg-prim-color-100-hover:hover {
  background-color: #00753c;
}
.bg-prim-color-300, .bg-prim-color-300-hover, .bg-prim-color-200-hover:hover {
  background-color: #025c2f;
}
.bg-prim-color-400, .bg-prim-color-400-hover, .bg-prim-color-300-hover:hover {
  background-color: #023d27;
}
.bg-prim-color-500, .bg-sec-color-600-hover:hover, .bg-prim-color-600-hover:hover, .bg-prim-color-500-hover, .bg-prim-color-400-hover:hover {
  background-color: #012618;
}
.bg-prim-color-600, .bg-sec-color-600-hover, .bg-prim-color-600-hover, .bg-prim-color-500-hover:hover {
  background-color: #011a0c;
}
.bg-sec-color-100, .bg-sec-color-100-hover {
  background-color: #f4e9c5;
}
.bg-sec-color-200, .bg-sec-color-200-hover, .bg-sec-color-100-hover:hover {
  background-color: #e4c96f;
}
.bg-sec-color-300, .bg-sec-color-300-hover, .bg-sec-color-200-hover:hover {
  background-color: #e3c04c;
}
.bg-sec-color-400, .bg-sec-color-400-hover, .bg-sec-color-300-hover:hover {
  background-color: #dcb227;
}
.bg-sec-color-500, .bg-sec-color-500-hover, .bg-sec-color-400-hover:hover {
  background-color: #cea10d;
}
.bg-sec-color-600, .bg-sec-color-500-hover:hover {
  background-color: #a98100;
}
.bg-ter-color-100, .bg-ter-color-100-hover {
  background-color: white;
}
.bg-ter-color-200, .bg-ter-color-200-hover, .bg-ter-color-100-hover:hover {
  background-color: #e6e2e2;
}
.bg-ter-color-300, .bg-ter-color-300-hover, .bg-ter-color-200-hover:hover {
  background-color: #d5d0d0;
}
.bg-ter-color-400, .bg-ter-color-400-hover, .bg-ter-color-300-hover:hover {
  background-color: #aba8a8;
}
.bg-ter-color-500, .bg-ter-color-600-hover:hover, .bg-ter-color-500-hover, .bg-ter-color-400-hover:hover {
  background-color: #928f8f;
}
.bg-ter-color-600, .bg-ter-color-600-hover, .bg-ter-color-500-hover:hover {
  background-color: #716e6e;
}
.bg-alt-color-100, .bg-alt-color-100-hover {
  background-color: #000000;
}
.bg-alt-color-200, .bg-alt-color-200-hover, .bg-alt-color-100-hover:hover {
  background-color: #121212;
}
.bg-alt-color-300, .bg-alt-color-300-hover, .bg-alt-color-200-hover:hover {
  background-color: #1b1a1a;
}
.bg-alt-color-400, .bg-alt-color-400-hover, .bg-alt-color-300-hover:hover {
  background-color: #242323;
}
.bg-alt-color-500, .bg-alt-color-600-hover:hover, .bg-alt-color-500-hover, .bg-alt-color-400-hover:hover {
  background-color: #323131;
}
.bg-alt-color-600, .bg-alt-color-600-hover, .bg-alt-color-500-hover:hover {
  background-color: #474545;
}
.fs-xxxs {
  font-size: 0.625rem;
}

.fs-xxs {
  font-size: 0.75rem;
}

.fs-xs {
  font-size: 0.875rem;
}

.fs-s {
  font-size: 0.9375rem;
}

.fs-m {
  font-size: 1rem;
}

.fs-l {
  font-size: 1.125rem;
}

.fs-xl {
  font-size: 1.25rem;
}

.fs-xxl {
  font-size: 1.5rem;
}

.fs-xxxl {
  font-size: 1.75rem;
}

.fs-huge {
  font-size: 2rem;
}

.fs-xhuge {
  font-size: 2.125rem;
}

.fs-xxhuge {
  font-size: 2.5rem;
}

.fs-xxxhuge {
  font-size: 2.8125rem;
}

.fw-normal {
  font-weight: 400;
}

.fw-heavy {
  font-weight: 600;
}

.fw-xheavy {
  font-weight: 800;
}

.m-auto {
  margin: auto;
}

.m-0 {
  margin: 0;
}

.m-xxxs {
  margin: 0.625rem;
}

.m-xxs {
  margin: 0.75rem;
}

.m-xs {
  margin: 0.875rem;
}

.m-s {
  margin: 0.9375rem;
}

.m-l {
  margin: 1.125rem;
}

.m-xl {
  margin: 1.25rem;
}

.m-xxl {
  margin: 1.5rem;
}

.m-xxxl {
  margin: 1.75rem;
}

.m-huge {
  margin: 2rem;
}

.m-xhuge {
  margin: 2.125rem;
}

.m-xxhuge {
  margin: 2.5rem;
}

.m-xxxhuge {
  margin: 2.8125rem;
}

.m-h-xxxs {
  margin: 0.625rem 0 0.625rem 0;
}

.m-h-xxs {
  margin: 0.75rem 0 0.75rem 0;
}

.m-h-xs {
  margin: 0.875rem 0 0.875rem 0;
}

.m-h-s {
  margin: 0.9375rem 0 0.9375rem 0;
}

.m-h-l {
  margin: 1.125rem 0 1.125rem 0;
}

.m-h-xl {
  margin: 1.25rem 0 1.25rem 0;
}

.m-h-xxl {
  margin: 1.5rem 0 1.5rem 0;
}

.m-h-xxxl {
  margin: 1.75rem 0 1.75rem 0;
}

.m-h-huge {
  margin: 2rem 0 2rem 0;
}

.m-h-xhuge {
  margin: 2.125rem 0 2.125rem 0;
}

.m-h-xxhuge {
  margin: 2.5rem 0 2.5rem 0;
}

.m-h-xxxhuge {
  margin: 2.8125rem 0 2.8125rem 0;
}

.m-v-xxxs {
  margin: 0 0.625rem 0 0.625rem;
}

.m-v-xxs {
  margin: 0 0.75rem 0 0.75rem;
}

.m-v-xs {
  margin: 0 0.875rem 0 0.875rem;
}

.m-v-s {
  margin: 0 0.9375rem 0 0.9375rem;
}

.m-v-l {
  margin: 0 1.125rem 0 1.125rem;
}

.m-v-xl {
  margin: 0 1.25rem 0 1.25rem;
}

.m-v-xxl {
  margin: 0 1.5rem 0 1.5rem;
}

.m-v-xxxl {
  margin: 0 1.75rem 0 1.75rem;
}

.m-v-huge {
  margin: 0 2rem 0 2rem;
}

.m-v-xhuge {
  margin: 0 2.125rem 0 2.125rem;
}

.m-v-xxhuge {
  margin: 0 2.5rem 0 2.5rem;
}

.m-v-xxxhuge {
  margin: 0 2.8125rem 0 2.8125rem;
}

.m-t-0 {
  margin-top: 0;
}

.m-t-xxxs {
  margin-top: 0.625rem;
}

.m-t-xxs {
  margin-top: 0.75rem;
}

.m-t-xs {
  margin-top: 0.875rem;
}

.m-t-s {
  margin-top: 0.9375rem;
}

.m-t-l {
  margin-top: 1.125rem;
}

.m-t-xl {
  margin-top: 1.25rem;
}

.m-t-xxl {
  margin-top: 1.5rem;
}

.m-t-xxxl {
  margin-top: 1.75rem;
}

.m-t-huge {
  margin-top: 2rem;
}

.m-t-xhuge {
  margin-top: 2.125rem;
}

.m-t-xxhuge {
  margin-top: 2.5rem;
}

.m-t-xxxhuge {
  margin-top: 2.8125rem;
}

.m-b-0 {
  margin-bottom: 0;
}

.m-b-xxxs {
  margin-bottom: 0.625rem;
}

.m-b-xxs {
  margin-bottom: 0.75rem;
}

.m-b-xs {
  margin-bottom: 0.875rem;
}

.m-b-s {
  margin-bottom: 0.9375rem;
}

.m-b-l {
  margin-bottom: 1.125rem;
}

.m-b-xl {
  margin-bottom: 1.25rem;
}

.m-b-xxl {
  margin-bottom: 1.5rem;
}

.m-b-xxxl {
  margin-bottom: 1.75rem;
}

.m-b-huge {
  margin-bottom: 2rem;
}

.m-b-xhuge {
  margin-bottom: 2.125rem;
}

.m-b-xxhuge {
  margin-bottom: 2.5rem;
}

.m-b-xxxhuge {
  margin-bottom: 2.8125rem;
}

.m-l-0 {
  margin-left: 0;
}

.m-l-xxxs {
  margin-left: 0.625rem;
}

.m-l-xxs {
  margin-left: 0.75rem;
}

.m-l-xs {
  margin-left: 0.875rem;
}

.m-l-s {
  margin-left: 0.9375rem;
}

.m-l-l {
  margin-left: 1.125rem;
}

.m-l-xl {
  margin-left: 1.25rem;
}

.m-l-xxl {
  margin-left: 1.5rem;
}

.m-l-xxxl {
  margin-left: 1.75rem;
}

.m-l-huge {
  margin-left: 2rem;
}

.m-l-xhuge {
  margin-left: 2.125rem;
}

.m-l-xxhuge {
  margin-left: 2.5rem;
}

.m-l-xxxhuge {
  margin-left: 2.8125rem;
}

.m-r-0 {
  margin-right: 0;
}

.m-r-xxxs {
  margin-right: 0.625rem;
}

.m-r-xxs {
  margin-right: 0.75rem;
}

.m-r-xs {
  margin-right: 0.875rem;
}

.m-r-s {
  margin-right: 0.9375rem;
}

.m-r-l {
  margin-right: 1.125rem;
}

.m-r-xl {
  margin-right: 1.25rem;
}

.m-r-xxl {
  margin-right: 1.5rem;
}

.m-r-xxxl {
  margin-right: 1.75rem;
}

.m-r-huge {
  margin-right: 2rem;
}

.m-r-xhuge {
  margin-right: 2.125rem;
}

.m-r-xxhuge {
  margin-right: 2.5rem;
}

.m-r-xxxhuge {
  margin-right: 2.8125rem;
}

.p-auto {
  padding: auto;
}

.p-0 {
  padding: 0;
}

.p-xxxs {
  padding: 0.625rem;
}

.p-xxs {
  padding: 0.75rem;
}

.p-xs {
  padding: 0.875rem;
}

.p-s {
  padding: 0.9375rem;
}

.p-l {
  padding: 1.125rem;
}

.p-xl {
  padding: 1.25rem;
}

.p-xxl {
  padding: 1.5rem;
}

.p-xxxl {
  padding: 1.75rem;
}

.p-huge {
  padding: 2rem;
}

.p-xhuge {
  padding: 2.125rem;
}

.p-xxhuge {
  padding: 2.5rem;
}

.p-xxxhuge {
  padding: 2.8125rem;
}

.p-h-xxxs {
  padding: 0.625rem 0 0.625rem 0;
}

.p-h-xxs {
  padding: 0.75rem 0 0.75rem 0;
}

.p-h-xs {
  padding: 0.875rem 0 0.875rem 0;
}

.p-h-s {
  padding: 0.9375rem 0 0.9375rem 0;
}

.p-h-l {
  padding: 1.125rem 0 1.125rem 0;
}

.p-h-xl {
  padding: 1.25rem 0 1.25rem 0;
}

.p-h-xxl {
  padding: 1.5rem 0 1.5rem 0;
}

.p-h-xxxl {
  padding: 1.75rem 0 1.75rem 0;
}

.p-h-huge {
  padding: 2rem 0 2rem 0;
}

.p-h-xhuge {
  padding: 2.125rem 0 2.125rem 0;
}

.p-h-xxhuge {
  padding: 2.5rem 0 2.5rem 0;
}

.p-h-xxxhuge {
  padding: 2.8125rem 0 2.8125rem 0;
}

.p-v-xxxs {
  padding: 0 0.625rem 0 0.625rem;
}

.p-v-xxs {
  padding: 0 0.75rem 0 0.75rem;
}

.p-v-xs {
  padding: 0 0.875rem 0 0.875rem;
}

.p-v-s {
  padding: 0 0.9375rem 0 0.9375rem;
}

.p-v-l {
  padding: 0 1.125rem 0 1.125rem;
}

.p-v-xl {
  padding: 0 1.25rem 0 1.25rem;
}

.p-v-xxl {
  padding: 0 1.5rem 0 1.5rem;
}

.p-v-xxxl {
  padding: 0 1.75rem 0 1.75rem;
}

.p-v-huge {
  padding: 0 2rem 0 2rem;
}

.p-v-xhuge {
  padding: 0 2.125rem 0 2.125rem;
}

.p-v-xxhuge {
  padding: 0 2.5rem 0 2.5rem;
}

.p-v-xxxhuge {
  padding: 0 2.8125rem 0 2.8125rem;
}

.p-t-0 {
  padding-top: 0;
}

.p-t-xxxs {
  padding-top: 0.625rem;
}

.p-t-xxs {
  padding-top: 0.75rem;
}

.p-t-xs {
  padding-top: 0.875rem;
}

.p-t-s {
  padding-top: 0.9375rem;
}

.p-t-l {
  padding-top: 1.125rem;
}

.p-t-xl {
  padding-top: 1.25rem;
}

.p-t-xxl {
  padding-top: 1.5rem;
}

.p-t-xxxl {
  padding-top: 1.75rem;
}

.p-t-huge {
  padding-top: 2rem;
}

.p-t-xhuge {
  padding-top: 2.125rem;
}

.p-t-xxhuge {
  padding-top: 2.5rem;
}

.p-t-xxxhuge {
  padding-top: 2.8125rem;
}

.p-b-0 {
  padding-bottom: 0;
}

.p-b-xxxs {
  padding-bottom: 0.625rem;
}

.p-b-xxs {
  padding-bottom: 0.75rem;
}

.p-b-xs {
  padding-bottom: 0.875rem;
}

.p-b-s {
  padding-bottom: 0.9375rem;
}

.p-b-l {
  padding-bottom: 1.125rem;
}

.p-b-xl {
  padding-bottom: 1.25rem;
}

.p-b-xxl {
  padding-bottom: 1.5rem;
}

.p-b-xxxl {
  padding-bottom: 1.75rem;
}

.p-b-huge {
  padding-bottom: 2rem;
}

.p-b-xhuge {
  padding-bottom: 2.125rem;
}

.p-b-xxhuge {
  padding-bottom: 2.5rem;
}

.p-b-xxxhuge {
  padding-bottom: 2.8125rem;
}

.p-l-0 {
  padding-left: 0;
}

.p-l-xxxs {
  padding-left: 0.625rem;
}

.p-l-xxs {
  padding-left: 0.75rem;
}

.p-l-xs {
  padding-left: 0.875rem;
}

.p-l-s {
  padding-left: 0.9375rem;
}

.p-l-l {
  padding-left: 1.125rem;
}

.p-l-xl {
  padding-left: 1.25rem;
}

.p-l-xxl {
  padding-left: 1.5rem;
}

.p-l-xxxl {
  padding-left: 1.75rem;
}

.p-l-huge {
  padding-left: 2rem;
}

.p-l-xhuge {
  padding-left: 2.125rem;
}

.p-l-xxhuge {
  padding-left: 2.5rem;
}

.p-l-xxxhuge {
  padding-left: 2.8125rem;
}

.p-r-0 {
  padding-right: 0;
}

.p-r-xxxs {
  padding-right: 0.625rem;
}

.p-r-xxs {
  padding-right: 0.75rem;
}

.p-r-xs {
  padding-right: 0.875rem;
}

.p-r-s {
  padding-right: 0.9375rem;
}

.p-r-l {
  padding-right: 1.125rem;
}

.p-r-xl {
  padding-right: 1.25rem;
}

.p-r-xxl {
  padding-right: 1.5rem;
}

.p-r-xxxl {
  padding-right: 1.75rem;
}

.p-r-huge {
  padding-right: 2rem;
}

.p-r-xhuge {
  padding-right: 2.125rem;
}

.p-r-xxhuge {
  padding-right: 2.5rem;
}

.p-r-xxxhuge {
  padding-right: 2.8125rem;
}

/* ----------------------------------------------
 * Generated by Animista on 2022-9-7 5:9:22
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation flicker-1
 * ----------------------------------------
 */
@-webkit-keyframes flicker-1 {
  0%, 100% {
    opacity: 1;
  }
  41.99% {
    opacity: 1;
  }
  42% {
    opacity: 0;
  }
  43% {
    opacity: 0;
  }
  43.01% {
    opacity: 1;
  }
  47.99% {
    opacity: 1;
  }
  48% {
    opacity: 0;
  }
  49% {
    opacity: 0;
  }
  49.01% {
    opacity: 1;
  }
}
@keyframes flicker-1 {
  0%, 100% {
    opacity: 1;
  }
  41.99% {
    opacity: 1;
  }
  42% {
    opacity: 0;
  }
  43% {
    opacity: 0;
  }
  43.01% {
    opacity: 1;
  }
  47.99% {
    opacity: 1;
  }
  48% {
    opacity: 0;
  }
  49% {
    opacity: 0;
  }
  49.01% {
    opacity: 1;
  }
}
/* ----------------------------------------------
 * Generated by Animista on 2022-9-7 5:13:39
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation wobble-ver-left
 * ----------------------------------------
 */
@-webkit-keyframes wobble-ver-left {
  0%, 100% {
    transform: translateY(0) rotate(0);
    transform-origin: 50% 50%;
  }
  15% {
    transform: translateY(-30px) rotate(-6deg);
  }
  30% {
    transform: translateY(15px) rotate(6deg);
  }
  45% {
    transform: translateY(-15px) rotate(-3.6deg);
  }
  60% {
    transform: translateY(9px) rotate(2.4deg);
  }
  75% {
    transform: translateY(-6px) rotate(-1.2deg);
  }
}
@keyframes wobble-ver-left {
  0%, 100% {
    transform: translateY(0) rotate(0);
    transform-origin: 50% 50%;
  }
  15% {
    transform: translateY(-30px) rotate(-6deg);
  }
  30% {
    transform: translateY(15px) rotate(6deg);
  }
  45% {
    transform: translateY(-15px) rotate(-3.6deg);
  }
  60% {
    transform: translateY(9px) rotate(2.4deg);
  }
  75% {
    transform: translateY(-6px) rotate(-1.2deg);
  }
}
/* ----------------------------------------------
 * Generated by Animista on 2022-9-7 5:16:53
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation wobble-hor-bottom
 * ----------------------------------------
 */
@-webkit-keyframes wobble-hor-bottom {
  0%, 100% {
    transform: translateX(0%);
    transform-origin: 50% 50%;
  }
  15% {
    transform: translateX(-30px) rotate(-6deg);
  }
  30% {
    transform: translateX(15px) rotate(6deg);
  }
  45% {
    transform: translateX(-15px) rotate(-3.6deg);
  }
  60% {
    transform: translateX(9px) rotate(2.4deg);
  }
  75% {
    transform: translateX(-6px) rotate(-1.2deg);
  }
}
@keyframes wobble-hor-bottom {
  0%, 100% {
    transform: translateX(0%);
    transform-origin: 50% 50%;
  }
  15% {
    transform: translateX(-30px) rotate(-6deg);
  }
  30% {
    transform: translateX(15px) rotate(6deg);
  }
  45% {
    transform: translateX(-15px) rotate(-3.6deg);
  }
  60% {
    transform: translateX(9px) rotate(2.4deg);
  }
  75% {
    transform: translateX(-6px) rotate(-1.2deg);
  }
}
/* 
****************************
* UTILIY CLASSES
****************************
*/
.prim-color-100, .prim-color-100-hover {
  color: #029357;
}
.prim-color-200, .prim-color-100-hover:hover, .prim-color-200-hover {
  color: #00753c;
}
.prim-color-300, .prim-color-200-hover:hover, .prim-color-300-hover {
  color: #025c2f;
}
.prim-color-400, .prim-color-300-hover:hover, .prim-color-400-hover {
  color: #023d27;
}
.prim-color-500, .prim-color-400-hover:hover, .prim-color-500-hover, .prim-color-600-hover:hover, .sec-color-600-hover:hover {
  color: #012618;
}
.prim-color-600, .prim-color-500-hover:hover, .prim-color-600-hover, .sec-color-600-hover {
  color: #011a0c;
}
.sec-color-100, .sec-color-100-hover {
  color: #f4e9c5;
}
.sec-color-200, .sec-color-100-hover:hover, .sec-color-200-hover {
  color: #e4c96f;
}
.sec-color-300, .sec-color-200-hover:hover, .sec-color-300-hover {
  color: #e3c04c;
}
.sec-color-400, .sec-color-300-hover:hover, .sec-color-400-hover {
  color: #dcb227;
}
.sec-color-500, .sec-color-400-hover:hover, .sec-color-500-hover {
  color: #cea10d;
}
.sec-color-600, .sec-color-500-hover:hover {
  color: #a98100;
}
.ter-color-100, .ter-color-100-hover {
  color: white;
}
.ter-color-200, .ter-color-100-hover:hover, .ter-color-200-hover {
  color: #e6e2e2;
}
.ter-color-300, .ter-color-200-hover:hover, .ter-color-300-hover {
  color: #d5d0d0;
}
.ter-color-400, .ter-color-300-hover:hover, .ter-color-400-hover {
  color: #aba8a8;
}
.ter-color-500, .ter-color-400-hover:hover, .ter-color-500-hover, .ter-color-600-hover:hover {
  color: #928f8f;
}
.ter-color-600, .ter-color-500-hover:hover, .ter-color-600-hover {
  color: #716e6e;
}
.alt-color-100, .alt-color-100-hover {
  color: #000000;
}
.alt-color-200, .alt-color-100-hover:hover, .alt-color-200-hover {
  color: #121212;
}
.alt-color-300, .alt-color-200-hover:hover, .alt-color-300-hover {
  color: #1b1a1a;
}
.alt-color-400, .alt-color-300-hover:hover, .alt-color-400-hover {
  color: #242323;
}
.alt-color-500, .alt-color-400-hover:hover, .alt-color-500-hover, .alt-color-600-hover:hover {
  color: #323131;
}
.alt-color-600, .alt-color-500-hover:hover, .alt-color-600-hover {
  color: #474545;
}
.bg-prim-color-100, .bg-prim-color-100-hover {
  background-color: #029357;
}
.bg-prim-color-200, .bg-prim-color-100-hover:hover, .bg-prim-color-200-hover {
  background-color: #00753c;
}
.bg-prim-color-300, .bg-prim-color-200-hover:hover, .bg-prim-color-300-hover {
  background-color: #025c2f;
}
.bg-prim-color-400, .bg-prim-color-300-hover:hover, .bg-prim-color-400-hover {
  background-color: #023d27;
}
.bg-prim-color-500, .bg-prim-color-400-hover:hover, .bg-prim-color-500-hover, .bg-prim-color-600-hover:hover, .bg-sec-color-600-hover:hover {
  background-color: #012618;
}
.bg-prim-color-600, .bg-prim-color-500-hover:hover, .bg-prim-color-600-hover, .bg-sec-color-600-hover {
  background-color: #011a0c;
}
.bg-sec-color-100, .bg-sec-color-100-hover {
  background-color: #f4e9c5;
}
.bg-sec-color-200, .bg-sec-color-100-hover:hover, .bg-sec-color-200-hover {
  background-color: #e4c96f;
}
.bg-sec-color-300, .bg-sec-color-200-hover:hover, .bg-sec-color-300-hover {
  background-color: #e3c04c;
}
.bg-sec-color-400, .bg-sec-color-300-hover:hover, .bg-sec-color-400-hover {
  background-color: #dcb227;
}
.bg-sec-color-500, .bg-sec-color-400-hover:hover, .bg-sec-color-500-hover {
  background-color: #cea10d;
}
.bg-sec-color-600, .bg-sec-color-500-hover:hover {
  background-color: #a98100;
}
.bg-ter-color-100, .bg-ter-color-100-hover {
  background-color: white;
}
.bg-ter-color-200, .bg-ter-color-100-hover:hover, .bg-ter-color-200-hover {
  background-color: #e6e2e2;
}
.bg-ter-color-300, .bg-ter-color-200-hover:hover, .bg-ter-color-300-hover {
  background-color: #d5d0d0;
}
.bg-ter-color-400, .bg-ter-color-300-hover:hover, .bg-ter-color-400-hover {
  background-color: #aba8a8;
}
.bg-ter-color-500, .bg-ter-color-400-hover:hover, .bg-ter-color-500-hover, .bg-ter-color-600-hover:hover {
  background-color: #928f8f;
}
.bg-ter-color-600, .bg-ter-color-500-hover:hover, .bg-ter-color-600-hover {
  background-color: #716e6e;
}
.bg-alt-color-100, .bg-alt-color-100-hover {
  background-color: #000000;
}
.bg-alt-color-200, .bg-alt-color-100-hover:hover, .bg-alt-color-200-hover {
  background-color: #121212;
}
.bg-alt-color-300, .bg-alt-color-200-hover:hover, .bg-alt-color-300-hover {
  background-color: #1b1a1a;
}
.bg-alt-color-400, .bg-alt-color-300-hover:hover, .bg-alt-color-400-hover {
  background-color: #242323;
}
.bg-alt-color-500, .bg-alt-color-400-hover:hover, .bg-alt-color-500-hover, .bg-alt-color-600-hover:hover {
  background-color: #323131;
}
.bg-alt-color-600, .bg-alt-color-500-hover:hover, .bg-alt-color-600-hover {
  background-color: #474545;
}
.fs-xxxs {
  font-size: 0.625rem;
}

.fs-xxs {
  font-size: 0.75rem;
}

.fs-xs {
  font-size: 0.875rem;
}

.fs-s {
  font-size: 0.9375rem;
}

.fs-m {
  font-size: 1rem;
}

.fs-l {
  font-size: 1.125rem;
}

.fs-xl {
  font-size: 1.25rem;
}

.fs-xxl {
  font-size: 1.5rem;
}

.fs-xxxl {
  font-size: 1.75rem;
}

.fs-huge {
  font-size: 2rem;
}

.fs-xhuge {
  font-size: 2.125rem;
}

.fs-xxhuge {
  font-size: 2.5rem;
}

.fs-xxxhuge {
  font-size: 2.8125rem;
}

.fw-normal {
  font-weight: 400;
}

.fw-heavy {
  font-weight: 600;
}

.fw-xheavy {
  font-weight: 800;
}

.m-auto {
  margin: auto;
}

.m-0 {
  margin: 0;
}

.m-xxxs {
  margin: 0.625rem;
}

.m-xxs {
  margin: 0.75rem;
}

.m-xs {
  margin: 0.875rem;
}

.m-s {
  margin: 0.9375rem;
}

.m-l {
  margin: 1.125rem;
}

.m-xl {
  margin: 1.25rem;
}

.m-xxl {
  margin: 1.5rem;
}

.m-xxxl {
  margin: 1.75rem;
}

.m-huge {
  margin: 2rem;
}

.m-xhuge {
  margin: 2.125rem;
}

.m-xxhuge {
  margin: 2.5rem;
}

.m-xxxhuge {
  margin: 2.8125rem;
}

.m-h-xxxs {
  margin: 0.625rem 0 0.625rem 0;
}

.m-h-xxs {
  margin: 0.75rem 0 0.75rem 0;
}

.m-h-xs {
  margin: 0.875rem 0 0.875rem 0;
}

.m-h-s {
  margin: 0.9375rem 0 0.9375rem 0;
}

.m-h-l {
  margin: 1.125rem 0 1.125rem 0;
}

.m-h-xl {
  margin: 1.25rem 0 1.25rem 0;
}

.m-h-xxl {
  margin: 1.5rem 0 1.5rem 0;
}

.m-h-xxxl {
  margin: 1.75rem 0 1.75rem 0;
}

.m-h-huge {
  margin: 2rem 0 2rem 0;
}

.m-h-xhuge {
  margin: 2.125rem 0 2.125rem 0;
}

.m-h-xxhuge {
  margin: 2.5rem 0 2.5rem 0;
}

.m-h-xxxhuge {
  margin: 2.8125rem 0 2.8125rem 0;
}

.m-v-xxxs {
  margin: 0 0.625rem 0 0.625rem;
}

.m-v-xxs {
  margin: 0 0.75rem 0 0.75rem;
}

.m-v-xs {
  margin: 0 0.875rem 0 0.875rem;
}

.m-v-s {
  margin: 0 0.9375rem 0 0.9375rem;
}

.m-v-l {
  margin: 0 1.125rem 0 1.125rem;
}

.m-v-xl {
  margin: 0 1.25rem 0 1.25rem;
}

.m-v-xxl {
  margin: 0 1.5rem 0 1.5rem;
}

.m-v-xxxl {
  margin: 0 1.75rem 0 1.75rem;
}

.m-v-huge {
  margin: 0 2rem 0 2rem;
}

.m-v-xhuge {
  margin: 0 2.125rem 0 2.125rem;
}

.m-v-xxhuge {
  margin: 0 2.5rem 0 2.5rem;
}

.m-v-xxxhuge {
  margin: 0 2.8125rem 0 2.8125rem;
}

.m-t-0 {
  margin-top: 0;
}

.m-t-xxxs {
  margin-top: 0.625rem;
}

.m-t-xxs {
  margin-top: 0.75rem;
}

.m-t-xs {
  margin-top: 0.875rem;
}

.m-t-s {
  margin-top: 0.9375rem;
}

.m-t-l {
  margin-top: 1.125rem;
}

.m-t-xl {
  margin-top: 1.25rem;
}

.m-t-xxl {
  margin-top: 1.5rem;
}

.m-t-xxxl {
  margin-top: 1.75rem;
}

.m-t-huge {
  margin-top: 2rem;
}

.m-t-xhuge {
  margin-top: 2.125rem;
}

.m-t-xxhuge {
  margin-top: 2.5rem;
}

.m-t-xxxhuge {
  margin-top: 2.8125rem;
}

.m-b-0 {
  margin-bottom: 0;
}

.m-b-xxxs {
  margin-bottom: 0.625rem;
}

.m-b-xxs {
  margin-bottom: 0.75rem;
}

.m-b-xs {
  margin-bottom: 0.875rem;
}

.m-b-s {
  margin-bottom: 0.9375rem;
}

.m-b-l {
  margin-bottom: 1.125rem;
}

.m-b-xl {
  margin-bottom: 1.25rem;
}

.m-b-xxl {
  margin-bottom: 1.5rem;
}

.m-b-xxxl {
  margin-bottom: 1.75rem;
}

.m-b-huge {
  margin-bottom: 2rem;
}

.m-b-xhuge {
  margin-bottom: 2.125rem;
}

.m-b-xxhuge {
  margin-bottom: 2.5rem;
}

.m-b-xxxhuge {
  margin-bottom: 2.8125rem;
}

.m-l-0 {
  margin-left: 0;
}

.m-l-xxxs {
  margin-left: 0.625rem;
}

.m-l-xxs {
  margin-left: 0.75rem;
}

.m-l-xs {
  margin-left: 0.875rem;
}

.m-l-s {
  margin-left: 0.9375rem;
}

.m-l-l {
  margin-left: 1.125rem;
}

.m-l-xl {
  margin-left: 1.25rem;
}

.m-l-xxl {
  margin-left: 1.5rem;
}

.m-l-xxxl {
  margin-left: 1.75rem;
}

.m-l-huge {
  margin-left: 2rem;
}

.m-l-xhuge {
  margin-left: 2.125rem;
}

.m-l-xxhuge {
  margin-left: 2.5rem;
}

.m-l-xxxhuge {
  margin-left: 2.8125rem;
}

.m-r-0 {
  margin-right: 0;
}

.m-r-xxxs {
  margin-right: 0.625rem;
}

.m-r-xxs {
  margin-right: 0.75rem;
}

.m-r-xs {
  margin-right: 0.875rem;
}

.m-r-s {
  margin-right: 0.9375rem;
}

.m-r-l {
  margin-right: 1.125rem;
}

.m-r-xl {
  margin-right: 1.25rem;
}

.m-r-xxl {
  margin-right: 1.5rem;
}

.m-r-xxxl {
  margin-right: 1.75rem;
}

.m-r-huge {
  margin-right: 2rem;
}

.m-r-xhuge {
  margin-right: 2.125rem;
}

.m-r-xxhuge {
  margin-right: 2.5rem;
}

.m-r-xxxhuge {
  margin-right: 2.8125rem;
}

.p-auto {
  padding: auto;
}

.p-0 {
  padding: 0;
}

.p-xxxs {
  padding: 0.625rem;
}

.p-xxs {
  padding: 0.75rem;
}

.p-xs {
  padding: 0.875rem;
}

.p-s {
  padding: 0.9375rem;
}

.p-l {
  padding: 1.125rem;
}

.p-xl {
  padding: 1.25rem;
}

.p-xxl {
  padding: 1.5rem;
}

.p-xxxl {
  padding: 1.75rem;
}

.p-huge {
  padding: 2rem;
}

.p-xhuge {
  padding: 2.125rem;
}

.p-xxhuge {
  padding: 2.5rem;
}

.p-xxxhuge {
  padding: 2.8125rem;
}

.p-h-xxxs {
  padding: 0.625rem 0 0.625rem 0;
}

.p-h-xxs {
  padding: 0.75rem 0 0.75rem 0;
}

.p-h-xs {
  padding: 0.875rem 0 0.875rem 0;
}

.p-h-s {
  padding: 0.9375rem 0 0.9375rem 0;
}

.p-h-l {
  padding: 1.125rem 0 1.125rem 0;
}

.p-h-xl {
  padding: 1.25rem 0 1.25rem 0;
}

.p-h-xxl {
  padding: 1.5rem 0 1.5rem 0;
}

.p-h-xxxl {
  padding: 1.75rem 0 1.75rem 0;
}

.p-h-huge {
  padding: 2rem 0 2rem 0;
}

.p-h-xhuge {
  padding: 2.125rem 0 2.125rem 0;
}

.p-h-xxhuge {
  padding: 2.5rem 0 2.5rem 0;
}

.p-h-xxxhuge {
  padding: 2.8125rem 0 2.8125rem 0;
}

.p-v-xxxs {
  padding: 0 0.625rem 0 0.625rem;
}

.p-v-xxs {
  padding: 0 0.75rem 0 0.75rem;
}

.p-v-xs {
  padding: 0 0.875rem 0 0.875rem;
}

.p-v-s {
  padding: 0 0.9375rem 0 0.9375rem;
}

.p-v-l {
  padding: 0 1.125rem 0 1.125rem;
}

.p-v-xl {
  padding: 0 1.25rem 0 1.25rem;
}

.p-v-xxl {
  padding: 0 1.5rem 0 1.5rem;
}

.p-v-xxxl {
  padding: 0 1.75rem 0 1.75rem;
}

.p-v-huge {
  padding: 0 2rem 0 2rem;
}

.p-v-xhuge {
  padding: 0 2.125rem 0 2.125rem;
}

.p-v-xxhuge {
  padding: 0 2.5rem 0 2.5rem;
}

.p-v-xxxhuge {
  padding: 0 2.8125rem 0 2.8125rem;
}

.p-t-0 {
  padding-top: 0;
}

.p-t-xxxs {
  padding-top: 0.625rem;
}

.p-t-xxs {
  padding-top: 0.75rem;
}

.p-t-xs {
  padding-top: 0.875rem;
}

.p-t-s {
  padding-top: 0.9375rem;
}

.p-t-l {
  padding-top: 1.125rem;
}

.p-t-xl {
  padding-top: 1.25rem;
}

.p-t-xxl {
  padding-top: 1.5rem;
}

.p-t-xxxl {
  padding-top: 1.75rem;
}

.p-t-huge {
  padding-top: 2rem;
}

.p-t-xhuge {
  padding-top: 2.125rem;
}

.p-t-xxhuge {
  padding-top: 2.5rem;
}

.p-t-xxxhuge {
  padding-top: 2.8125rem;
}

.p-b-0 {
  padding-bottom: 0;
}

.p-b-xxxs {
  padding-bottom: 0.625rem;
}

.p-b-xxs {
  padding-bottom: 0.75rem;
}

.p-b-xs {
  padding-bottom: 0.875rem;
}

.p-b-s {
  padding-bottom: 0.9375rem;
}

.p-b-l {
  padding-bottom: 1.125rem;
}

.p-b-xl {
  padding-bottom: 1.25rem;
}

.p-b-xxl {
  padding-bottom: 1.5rem;
}

.p-b-xxxl {
  padding-bottom: 1.75rem;
}

.p-b-huge {
  padding-bottom: 2rem;
}

.p-b-xhuge {
  padding-bottom: 2.125rem;
}

.p-b-xxhuge {
  padding-bottom: 2.5rem;
}

.p-b-xxxhuge {
  padding-bottom: 2.8125rem;
}

.p-l-0 {
  padding-left: 0;
}

.p-l-xxxs {
  padding-left: 0.625rem;
}

.p-l-xxs {
  padding-left: 0.75rem;
}

.p-l-xs {
  padding-left: 0.875rem;
}

.p-l-s {
  padding-left: 0.9375rem;
}

.p-l-l {
  padding-left: 1.125rem;
}

.p-l-xl {
  padding-left: 1.25rem;
}

.p-l-xxl {
  padding-left: 1.5rem;
}

.p-l-xxxl {
  padding-left: 1.75rem;
}

.p-l-huge {
  padding-left: 2rem;
}

.p-l-xhuge {
  padding-left: 2.125rem;
}

.p-l-xxhuge {
  padding-left: 2.5rem;
}

.p-l-xxxhuge {
  padding-left: 2.8125rem;
}

.p-r-0 {
  padding-right: 0;
}

.p-r-xxxs {
  padding-right: 0.625rem;
}

.p-r-xxs {
  padding-right: 0.75rem;
}

.p-r-xs {
  padding-right: 0.875rem;
}

.p-r-s {
  padding-right: 0.9375rem;
}

.p-r-l {
  padding-right: 1.125rem;
}

.p-r-xl {
  padding-right: 1.25rem;
}

.p-r-xxl {
  padding-right: 1.5rem;
}

.p-r-xxxl {
  padding-right: 1.75rem;
}

.p-r-huge {
  padding-right: 2rem;
}

.p-r-xhuge {
  padding-right: 2.125rem;
}

.p-r-xxhuge {
  padding-right: 2.5rem;
}

.p-r-xxxhuge {
  padding-right: 2.8125rem;
}

/* ----------------------------------------------
 * Generated by Animista on 2022-9-7 5:9:22
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation flicker-1
 * ----------------------------------------
 */
@-webkit-keyframes flicker-1 {
  0%, 100% {
    opacity: 1;
  }
  41.99% {
    opacity: 1;
  }
  42% {
    opacity: 0;
  }
  43% {
    opacity: 0;
  }
  43.01% {
    opacity: 1;
  }
  47.99% {
    opacity: 1;
  }
  48% {
    opacity: 0;
  }
  49% {
    opacity: 0;
  }
  49.01% {
    opacity: 1;
  }
}
@keyframes flicker-1 {
  0%, 100% {
    opacity: 1;
  }
  41.99% {
    opacity: 1;
  }
  42% {
    opacity: 0;
  }
  43% {
    opacity: 0;
  }
  43.01% {
    opacity: 1;
  }
  47.99% {
    opacity: 1;
  }
  48% {
    opacity: 0;
  }
  49% {
    opacity: 0;
  }
  49.01% {
    opacity: 1;
  }
}
/* ----------------------------------------------
 * Generated by Animista on 2022-9-7 5:13:39
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation wobble-ver-left
 * ----------------------------------------
 */
@-webkit-keyframes wobble-ver-left {
  0%, 100% {
    transform: translateY(0) rotate(0);
    transform-origin: 50% 50%;
  }
  15% {
    transform: translateY(-30px) rotate(-6deg);
  }
  30% {
    transform: translateY(15px) rotate(6deg);
  }
  45% {
    transform: translateY(-15px) rotate(-3.6deg);
  }
  60% {
    transform: translateY(9px) rotate(2.4deg);
  }
  75% {
    transform: translateY(-6px) rotate(-1.2deg);
  }
}
@keyframes wobble-ver-left {
  0%, 100% {
    transform: translateY(0) rotate(0);
    transform-origin: 50% 50%;
  }
  15% {
    transform: translateY(-30px) rotate(-6deg);
  }
  30% {
    transform: translateY(15px) rotate(6deg);
  }
  45% {
    transform: translateY(-15px) rotate(-3.6deg);
  }
  60% {
    transform: translateY(9px) rotate(2.4deg);
  }
  75% {
    transform: translateY(-6px) rotate(-1.2deg);
  }
}
/* ----------------------------------------------
 * Generated by Animista on 2022-9-7 5:16:53
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation wobble-hor-bottom
 * ----------------------------------------
 */
@-webkit-keyframes wobble-hor-bottom {
  0%, 100% {
    transform: translateX(0%);
    transform-origin: 50% 50%;
  }
  15% {
    transform: translateX(-30px) rotate(-6deg);
  }
  30% {
    transform: translateX(15px) rotate(6deg);
  }
  45% {
    transform: translateX(-15px) rotate(-3.6deg);
  }
  60% {
    transform: translateX(9px) rotate(2.4deg);
  }
  75% {
    transform: translateX(-6px) rotate(-1.2deg);
  }
}
@keyframes wobble-hor-bottom {
  0%, 100% {
    transform: translateX(0%);
    transform-origin: 50% 50%;
  }
  15% {
    transform: translateX(-30px) rotate(-6deg);
  }
  30% {
    transform: translateX(15px) rotate(6deg);
  }
  45% {
    transform: translateX(-15px) rotate(-3.6deg);
  }
  60% {
    transform: translateX(9px) rotate(2.4deg);
  }
  75% {
    transform: translateX(-6px) rotate(-1.2deg);
  }
}
*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Montserrat", san-serif;
  margin: 0;
}

a {
  text-decoration: none;
}

/* 
****************************
* UTILIY CLASSES
****************************
*/
.prim-color-100, .prim-color-100-hover {
  color: #029357;
}
.prim-color-200, .prim-color-100-hover:hover, .prim-color-200-hover {
  color: #00753c;
}
.prim-color-300, .prim-color-200-hover:hover, .prim-color-300-hover {
  color: #025c2f;
}
.prim-color-400, .prim-color-300-hover:hover, .prim-color-400-hover {
  color: #023d27;
}
.prim-color-500, .prim-color-400-hover:hover, .prim-color-500-hover, .prim-color-600-hover:hover, .sec-color-600-hover:hover {
  color: #012618;
}
.prim-color-600, .prim-color-500-hover:hover, .prim-color-600-hover, .sec-color-600-hover {
  color: #011a0c;
}
.sec-color-100, .sec-color-100-hover {
  color: #f4e9c5;
}
.sec-color-200, .sec-color-100-hover:hover, .sec-color-200-hover {
  color: #e4c96f;
}
.sec-color-300, .sec-color-200-hover:hover, .sec-color-300-hover {
  color: #e3c04c;
}
.sec-color-400, .sec-color-300-hover:hover, .sec-color-400-hover {
  color: #dcb227;
}
.sec-color-500, .sec-color-400-hover:hover, .sec-color-500-hover {
  color: #cea10d;
}
.sec-color-600, .sec-color-500-hover:hover {
  color: #a98100;
}
.ter-color-100, .ter-color-100-hover {
  color: white;
}
.ter-color-200, .ter-color-100-hover:hover, .ter-color-200-hover {
  color: #e6e2e2;
}
.ter-color-300, .ter-color-200-hover:hover, .ter-color-300-hover {
  color: #d5d0d0;
}
.ter-color-400, .ter-color-300-hover:hover, .ter-color-400-hover {
  color: #aba8a8;
}
.ter-color-500, .ter-color-400-hover:hover, .ter-color-500-hover, .ter-color-600-hover:hover {
  color: #928f8f;
}
.ter-color-600, .ter-color-500-hover:hover, .ter-color-600-hover {
  color: #716e6e;
}
.alt-color-100, .alt-color-100-hover {
  color: #000000;
}
.alt-color-200, .alt-color-100-hover:hover, .alt-color-200-hover {
  color: #121212;
}
.alt-color-300, .alt-color-200-hover:hover, .alt-color-300-hover {
  color: #1b1a1a;
}
.alt-color-400, .alt-color-300-hover:hover, .alt-color-400-hover {
  color: #242323;
}
.alt-color-500, .alt-color-400-hover:hover, .alt-color-500-hover, .alt-color-600-hover:hover {
  color: #323131;
}
.alt-color-600, .alt-color-500-hover:hover, .alt-color-600-hover {
  color: #474545;
}
.bg-prim-color-100, .bg-prim-color-100-hover {
  background-color: #029357;
}
.bg-prim-color-200, .bg-prim-color-100-hover:hover, .bg-prim-color-200-hover {
  background-color: #00753c;
}
.bg-prim-color-300, .bg-prim-color-200-hover:hover, .bg-prim-color-300-hover {
  background-color: #025c2f;
}
.bg-prim-color-400, .bg-prim-color-300-hover:hover, .bg-prim-color-400-hover {
  background-color: #023d27;
}
.bg-prim-color-500, .bg-prim-color-400-hover:hover, .bg-prim-color-500-hover, .bg-prim-color-600-hover:hover, .bg-sec-color-600-hover:hover {
  background-color: #012618;
}
.bg-prim-color-600, .bg-prim-color-500-hover:hover, .bg-prim-color-600-hover, .bg-sec-color-600-hover {
  background-color: #011a0c;
}
.bg-sec-color-100, .bg-sec-color-100-hover {
  background-color: #f4e9c5;
}
.bg-sec-color-200, .bg-sec-color-100-hover:hover, .bg-sec-color-200-hover {
  background-color: #e4c96f;
}
.bg-sec-color-300, .bg-sec-color-200-hover:hover, .bg-sec-color-300-hover {
  background-color: #e3c04c;
}
.bg-sec-color-400, .bg-sec-color-300-hover:hover, .bg-sec-color-400-hover {
  background-color: #dcb227;
}
.bg-sec-color-500, .bg-sec-color-400-hover:hover, .bg-sec-color-500-hover {
  background-color: #cea10d;
}
.bg-sec-color-600, .bg-sec-color-500-hover:hover {
  background-color: #a98100;
}
.bg-ter-color-100, .bg-ter-color-100-hover {
  background-color: white;
}
.bg-ter-color-200, .bg-ter-color-100-hover:hover, .bg-ter-color-200-hover {
  background-color: #e6e2e2;
}
.bg-ter-color-300, .bg-ter-color-200-hover:hover, .bg-ter-color-300-hover {
  background-color: #d5d0d0;
}
.bg-ter-color-400, .bg-ter-color-300-hover:hover, .bg-ter-color-400-hover {
  background-color: #aba8a8;
}
.bg-ter-color-500, .bg-ter-color-400-hover:hover, .bg-ter-color-500-hover, .bg-ter-color-600-hover:hover {
  background-color: #928f8f;
}
.bg-ter-color-600, .bg-ter-color-500-hover:hover, .bg-ter-color-600-hover {
  background-color: #716e6e;
}
.bg-alt-color-100, .bg-alt-color-100-hover {
  background-color: #000000;
}
.bg-alt-color-200, .bg-alt-color-100-hover:hover, .bg-alt-color-200-hover {
  background-color: #121212;
}
.bg-alt-color-300, .bg-alt-color-200-hover:hover, .bg-alt-color-300-hover {
  background-color: #1b1a1a;
}
.bg-alt-color-400, .bg-alt-color-300-hover:hover, .bg-alt-color-400-hover {
  background-color: #242323;
}
.bg-alt-color-500, .bg-alt-color-400-hover:hover, .bg-alt-color-500-hover, .bg-alt-color-600-hover:hover {
  background-color: #323131;
}
.bg-alt-color-600, .bg-alt-color-500-hover:hover, .bg-alt-color-600-hover {
  background-color: #474545;
}
.fs-xxxs {
  font-size: 0.625rem;
}

.fs-xxs {
  font-size: 0.75rem;
}

.fs-xs {
  font-size: 0.875rem;
}

.fs-s {
  font-size: 0.9375rem;
}

.fs-m {
  font-size: 1rem;
}

.fs-l {
  font-size: 1.125rem;
}

.fs-xl {
  font-size: 1.25rem;
}

.fs-xxl {
  font-size: 1.5rem;
}

.fs-xxxl {
  font-size: 1.75rem;
}

.fs-huge {
  font-size: 2rem;
}

.fs-xhuge {
  font-size: 2.125rem;
}

.fs-xxhuge {
  font-size: 2.5rem;
}

.fs-xxxhuge {
  font-size: 2.8125rem;
}

.fw-normal {
  font-weight: 400;
}

.fw-heavy {
  font-weight: 600;
}

.fw-xheavy {
  font-weight: 800;
}

.m-auto {
  margin: auto;
}

.m-0 {
  margin: 0;
}

.m-xxxs {
  margin: 0.625rem;
}

.m-xxs {
  margin: 0.75rem;
}

.m-xs {
  margin: 0.875rem;
}

.m-s {
  margin: 0.9375rem;
}

.m-l {
  margin: 1.125rem;
}

.m-xl {
  margin: 1.25rem;
}

.m-xxl {
  margin: 1.5rem;
}

.m-xxxl {
  margin: 1.75rem;
}

.m-huge {
  margin: 2rem;
}

.m-xhuge {
  margin: 2.125rem;
}

.m-xxhuge {
  margin: 2.5rem;
}

.m-xxxhuge {
  margin: 2.8125rem;
}

.m-h-xxxs {
  margin: 0.625rem 0 0.625rem 0;
}

.m-h-xxs {
  margin: 0.75rem 0 0.75rem 0;
}

.m-h-xs {
  margin: 0.875rem 0 0.875rem 0;
}

.m-h-s {
  margin: 0.9375rem 0 0.9375rem 0;
}

.m-h-l {
  margin: 1.125rem 0 1.125rem 0;
}

.m-h-xl {
  margin: 1.25rem 0 1.25rem 0;
}

.m-h-xxl {
  margin: 1.5rem 0 1.5rem 0;
}

.m-h-xxxl {
  margin: 1.75rem 0 1.75rem 0;
}

.m-h-huge {
  margin: 2rem 0 2rem 0;
}

.m-h-xhuge {
  margin: 2.125rem 0 2.125rem 0;
}

.m-h-xxhuge {
  margin: 2.5rem 0 2.5rem 0;
}

.m-h-xxxhuge {
  margin: 2.8125rem 0 2.8125rem 0;
}

.m-v-xxxs {
  margin: 0 0.625rem 0 0.625rem;
}

.m-v-xxs {
  margin: 0 0.75rem 0 0.75rem;
}

.m-v-xs {
  margin: 0 0.875rem 0 0.875rem;
}

.m-v-s {
  margin: 0 0.9375rem 0 0.9375rem;
}

.m-v-l {
  margin: 0 1.125rem 0 1.125rem;
}

.m-v-xl {
  margin: 0 1.25rem 0 1.25rem;
}

.m-v-xxl {
  margin: 0 1.5rem 0 1.5rem;
}

.m-v-xxxl {
  margin: 0 1.75rem 0 1.75rem;
}

.m-v-huge {
  margin: 0 2rem 0 2rem;
}

.m-v-xhuge {
  margin: 0 2.125rem 0 2.125rem;
}

.m-v-xxhuge {
  margin: 0 2.5rem 0 2.5rem;
}

.m-v-xxxhuge {
  margin: 0 2.8125rem 0 2.8125rem;
}

.m-t-0 {
  margin-top: 0;
}

.m-t-xxxs {
  margin-top: 0.625rem;
}

.m-t-xxs {
  margin-top: 0.75rem;
}

.m-t-xs {
  margin-top: 0.875rem;
}

.m-t-s {
  margin-top: 0.9375rem;
}

.m-t-l {
  margin-top: 1.125rem;
}

.m-t-xl {
  margin-top: 1.25rem;
}

.m-t-xxl {
  margin-top: 1.5rem;
}

.m-t-xxxl {
  margin-top: 1.75rem;
}

.m-t-huge {
  margin-top: 2rem;
}

.m-t-xhuge {
  margin-top: 2.125rem;
}

.m-t-xxhuge {
  margin-top: 2.5rem;
}

.m-t-xxxhuge {
  margin-top: 2.8125rem;
}

.m-b-0 {
  margin-bottom: 0;
}

.m-b-xxxs {
  margin-bottom: 0.625rem;
}

.m-b-xxs {
  margin-bottom: 0.75rem;
}

.m-b-xs {
  margin-bottom: 0.875rem;
}

.m-b-s {
  margin-bottom: 0.9375rem;
}

.m-b-l {
  margin-bottom: 1.125rem;
}

.m-b-xl {
  margin-bottom: 1.25rem;
}

.m-b-xxl {
  margin-bottom: 1.5rem;
}

.m-b-xxxl {
  margin-bottom: 1.75rem;
}

.m-b-huge {
  margin-bottom: 2rem;
}

.m-b-xhuge {
  margin-bottom: 2.125rem;
}

.m-b-xxhuge {
  margin-bottom: 2.5rem;
}

.m-b-xxxhuge {
  margin-bottom: 2.8125rem;
}

.m-l-0 {
  margin-left: 0;
}

.m-l-xxxs {
  margin-left: 0.625rem;
}

.m-l-xxs {
  margin-left: 0.75rem;
}

.m-l-xs {
  margin-left: 0.875rem;
}

.m-l-s {
  margin-left: 0.9375rem;
}

.m-l-l {
  margin-left: 1.125rem;
}

.m-l-xl {
  margin-left: 1.25rem;
}

.m-l-xxl {
  margin-left: 1.5rem;
}

.m-l-xxxl {
  margin-left: 1.75rem;
}

.m-l-huge {
  margin-left: 2rem;
}

.m-l-xhuge {
  margin-left: 2.125rem;
}

.m-l-xxhuge {
  margin-left: 2.5rem;
}

.m-l-xxxhuge {
  margin-left: 2.8125rem;
}

.m-r-0 {
  margin-right: 0;
}

.m-r-xxxs {
  margin-right: 0.625rem;
}

.m-r-xxs {
  margin-right: 0.75rem;
}

.m-r-xs {
  margin-right: 0.875rem;
}

.m-r-s {
  margin-right: 0.9375rem;
}

.m-r-l {
  margin-right: 1.125rem;
}

.m-r-xl {
  margin-right: 1.25rem;
}

.m-r-xxl {
  margin-right: 1.5rem;
}

.m-r-xxxl {
  margin-right: 1.75rem;
}

.m-r-huge {
  margin-right: 2rem;
}

.m-r-xhuge {
  margin-right: 2.125rem;
}

.m-r-xxhuge {
  margin-right: 2.5rem;
}

.m-r-xxxhuge {
  margin-right: 2.8125rem;
}

.p-auto {
  padding: auto;
}

.p-0 {
  padding: 0;
}

.p-xxxs {
  padding: 0.625rem;
}

.p-xxs {
  padding: 0.75rem;
}

.p-xs {
  padding: 0.875rem;
}

.p-s {
  padding: 0.9375rem;
}

.p-l {
  padding: 1.125rem;
}

.p-xl {
  padding: 1.25rem;
}

.p-xxl {
  padding: 1.5rem;
}

.p-xxxl {
  padding: 1.75rem;
}

.p-huge {
  padding: 2rem;
}

.p-xhuge {
  padding: 2.125rem;
}

.p-xxhuge {
  padding: 2.5rem;
}

.p-xxxhuge {
  padding: 2.8125rem;
}

.p-h-xxxs {
  padding: 0.625rem 0 0.625rem 0;
}

.p-h-xxs {
  padding: 0.75rem 0 0.75rem 0;
}

.p-h-xs {
  padding: 0.875rem 0 0.875rem 0;
}

.p-h-s {
  padding: 0.9375rem 0 0.9375rem 0;
}

.p-h-l {
  padding: 1.125rem 0 1.125rem 0;
}

.p-h-xl {
  padding: 1.25rem 0 1.25rem 0;
}

.p-h-xxl {
  padding: 1.5rem 0 1.5rem 0;
}

.p-h-xxxl {
  padding: 1.75rem 0 1.75rem 0;
}

.p-h-huge {
  padding: 2rem 0 2rem 0;
}

.p-h-xhuge {
  padding: 2.125rem 0 2.125rem 0;
}

.p-h-xxhuge {
  padding: 2.5rem 0 2.5rem 0;
}

.p-h-xxxhuge {
  padding: 2.8125rem 0 2.8125rem 0;
}

.p-v-xxxs {
  padding: 0 0.625rem 0 0.625rem;
}

.p-v-xxs {
  padding: 0 0.75rem 0 0.75rem;
}

.p-v-xs {
  padding: 0 0.875rem 0 0.875rem;
}

.p-v-s {
  padding: 0 0.9375rem 0 0.9375rem;
}

.p-v-l {
  padding: 0 1.125rem 0 1.125rem;
}

.p-v-xl {
  padding: 0 1.25rem 0 1.25rem;
}

.p-v-xxl {
  padding: 0 1.5rem 0 1.5rem;
}

.p-v-xxxl {
  padding: 0 1.75rem 0 1.75rem;
}

.p-v-huge {
  padding: 0 2rem 0 2rem;
}

.p-v-xhuge {
  padding: 0 2.125rem 0 2.125rem;
}

.p-v-xxhuge {
  padding: 0 2.5rem 0 2.5rem;
}

.p-v-xxxhuge {
  padding: 0 2.8125rem 0 2.8125rem;
}

.p-t-0 {
  padding-top: 0;
}

.p-t-xxxs {
  padding-top: 0.625rem;
}

.p-t-xxs {
  padding-top: 0.75rem;
}

.p-t-xs {
  padding-top: 0.875rem;
}

.p-t-s {
  padding-top: 0.9375rem;
}

.p-t-l {
  padding-top: 1.125rem;
}

.p-t-xl {
  padding-top: 1.25rem;
}

.p-t-xxl {
  padding-top: 1.5rem;
}

.p-t-xxxl {
  padding-top: 1.75rem;
}

.p-t-huge {
  padding-top: 2rem;
}

.p-t-xhuge {
  padding-top: 2.125rem;
}

.p-t-xxhuge {
  padding-top: 2.5rem;
}

.p-t-xxxhuge {
  padding-top: 2.8125rem;
}

.p-b-0 {
  padding-bottom: 0;
}

.p-b-xxxs {
  padding-bottom: 0.625rem;
}

.p-b-xxs {
  padding-bottom: 0.75rem;
}

.p-b-xs {
  padding-bottom: 0.875rem;
}

.p-b-s {
  padding-bottom: 0.9375rem;
}

.p-b-l {
  padding-bottom: 1.125rem;
}

.p-b-xl {
  padding-bottom: 1.25rem;
}

.p-b-xxl {
  padding-bottom: 1.5rem;
}

.p-b-xxxl {
  padding-bottom: 1.75rem;
}

.p-b-huge {
  padding-bottom: 2rem;
}

.p-b-xhuge {
  padding-bottom: 2.125rem;
}

.p-b-xxhuge {
  padding-bottom: 2.5rem;
}

.p-b-xxxhuge {
  padding-bottom: 2.8125rem;
}

.p-l-0 {
  padding-left: 0;
}

.p-l-xxxs {
  padding-left: 0.625rem;
}

.p-l-xxs {
  padding-left: 0.75rem;
}

.p-l-xs {
  padding-left: 0.875rem;
}

.p-l-s {
  padding-left: 0.9375rem;
}

.p-l-l {
  padding-left: 1.125rem;
}

.p-l-xl {
  padding-left: 1.25rem;
}

.p-l-xxl {
  padding-left: 1.5rem;
}

.p-l-xxxl {
  padding-left: 1.75rem;
}

.p-l-huge {
  padding-left: 2rem;
}

.p-l-xhuge {
  padding-left: 2.125rem;
}

.p-l-xxhuge {
  padding-left: 2.5rem;
}

.p-l-xxxhuge {
  padding-left: 2.8125rem;
}

.p-r-0 {
  padding-right: 0;
}

.p-r-xxxs {
  padding-right: 0.625rem;
}

.p-r-xxs {
  padding-right: 0.75rem;
}

.p-r-xs {
  padding-right: 0.875rem;
}

.p-r-s {
  padding-right: 0.9375rem;
}

.p-r-l {
  padding-right: 1.125rem;
}

.p-r-xl {
  padding-right: 1.25rem;
}

.p-r-xxl {
  padding-right: 1.5rem;
}

.p-r-xxxl {
  padding-right: 1.75rem;
}

.p-r-huge {
  padding-right: 2rem;
}

.p-r-xhuge {
  padding-right: 2.125rem;
}

.p-r-xxhuge {
  padding-right: 2.5rem;
}

.p-r-xxxhuge {
  padding-right: 2.8125rem;
}/*# sourceMappingURL=style.css.map */